@tailwind base;
@tailwind components;
@tailwind utilities;

.CodeMirror-hints {
    display: block !important;
    visibility: visible !important;
    z-index: 99999999999999999999999999 !important;
}

#cm-complete-0 {
    display: block !important;
    visibility: visible !important;
    z-index: 99999999999999999999999999 !important;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px; 
    background-color: transparent; 
}


::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 6px; 
    border: 3px solid transparent; 
}


::-webkit-scrollbar-thumb:hover {
    background-color: #e8e8e8; 
}


::-webkit-scrollbar-corner {
    background-color: transparent; 
}

.grow-on-load {
    animation: grow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0.5s forwards;
}

@keyframes grow {
    from { transform: scale(0); }
    to { transform: scale(1); }
}